body
{
	font-family: Verdana, Arial, Sans-serif;
	font-size:14px;
	color:white;
	background: linear-gradient(#fa5502,#c7c7c7);	
}

h1
{
	font-size:16px;
	font-weight:bold;
}

.intestazione
{
	color:red;
	background-color:white;
	font-weight:bold;
	text-decoration:underline;
}

table td
{
	border:solid 1px white;
}

table td:not(.intestazione):hover
{
	background-color:white;
	color:black;
}